.githubuserinfo{
    
    margin: 2% 0 0 42%;
    width: 80%;
    display: flex;
}

.githubuserinfo  input{
    width: 12%;
    height: 5%;
    outline: none;
    border:2px solid grey;
    font-size: x-large;
    border-radius: 30px;
    margin: 10px 0 0 0;
    color: grey;
    
}
.githubuserinfo button{
    font-size: large;
    margin: 10px 0 0 25px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: coral;
    color: rgb(236, 236, 236);
    border: 2px solid rgb(75, 75, 75);
    transition: 0.3s all ease;
}
.githubuserinfo button:hover{

    background-color: rgb(219, 97, 53);
}